{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">

	{{!-- <header class="header">
		<button class="button">
			<img width="24px" height="24px" src="/svg/header__back.svg">
		</button>
		<button class="button">
			<img width="24px" height="24px" src="/img/header__avatar.svg">
		</button>
	</header>

	<h1 class="title">Мій блог</h1>

	<div class="navigation">
		<button class="navItem navItem--viewed">База знань</button>
		<button class="navItem">Інформація</button>
	</div>

	<main class="community__content">
		<img src="/img/community.svg">
		<div class="community__info">
			<div class="info__title">Що таке база знань?</div>
			<div class="info__content">База знань — сукупність систематизованих основних відомостей, що стосуються
				певної галузі знань і засобів, за допомогою яких відбуваються накопичення, збереження, оновлення та
				використання знань.</div>
		</div>
		<button class="button__forward">Перейти до ком'юніті у Телеграм</button>
	</main>
</div> --}}

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}